@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

:root {
  --primary-color: #e3b748;
  --black-color: #111111;
  --lightBlack-color: #1e1e1e;
  --white-color: #ffffff;
  --grey-color: #747474;
  --lightgrey-color: #2e2e2e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--lightBlack-color);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--white-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h5 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
